<h1>作成したスタイリストのレビュー一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>レビュー</th>
  </tr>
  <% current_user.seeker.reviews.each do |review| %>
  <tr>
    <td><%= review.title %></td>
    <td><%= review.comment %></td>
    <td><%= link_to '編集', edit_review_path(review.id) %></td>
    <td><%= link_to '削除', review_path(review.id), method: :delete %></td>
  </tr>
  <% end %>
</table>